<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">Date</th>
          <th class="text-left">Type</th>
          <th class="text-left">Amount in local currency</th>
          <th class="text-left">Amount in dollars</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th class="text-left">Total</th>
            <th class="text-left"></th>
            <th class="text-left">{{ new Intl.NumberFormat('en-US').format(totals.amount) }}</th>
            <th class="text-left">{{ new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(totals.usd_amount) }}</th>
        </tr>
        <tr v-for="(item, index) in operations" :key="index">
          <td class="text-left">{{ new Intl.DateTimeFormat('en-US').format(new Date(item.date)) }}</td>
          <td class="text-left">{{ item.type }}</td>
          <td class="text-left">{{ item.currency }} {{ new Intl.NumberFormat('en-US').format(item.amount) }}</td>
          <td class="text-left">{{ new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(item.usd_amount) }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
    export default {
        name: 'RootTable',
        props: {
            operations: {
                type: Array,
                default: () => []
            },
            totals: {
                type: Object,
                default: () => {}
            }
        },
    }
</script>

<style>

</style>
