<template>
  <v-card-text>
    <v-form>
        <v-select
            v-if="customers.length"
            @change="emitValue($event, 'selectedCustomer')"
            :items="customers"
            item-text="name"
            item-value="id"
            label="Choose a customer"
        ></v-select>
        <v-menu
            ref="menu-datepicker-one"
            v-model="datepickerOne"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            min-width="290px"
        >
            <template v-slot:activator="{ on }">
                <v-text-field
                    :value="form.from_date"
                    label="Date start"
                    readonly
                    v-on="on"
                ></v-text-field>
            </template>
            <v-date-picker
                @input="emitValue($event, 'from_date').then(() => datepickerOne = false)"
                :value="form.from_date"
            >
            </v-date-picker>
        </v-menu>
        <v-menu
            ref="menu-datepicker-two"
            v-model="datepickerTwo"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            min-width="290px"
        >
            <template v-slot:activator="{ on }">
                <v-text-field
                    :value="form.to_date"
                    label="Date end"
                    readonly
                    v-on="on"
                ></v-text-field>
            </template>
            <v-date-picker
                @input="emitValue($event, 'to_date').then(() => datepickerTwo = false)"
                :value="form.from_date"
            >
            </v-date-picker>
        </v-menu>
    </v-form>
  </v-card-text>
</template>

<script>
export default {
    name: 'RootForm',
    props: {
        customers: {
            type: Array,
            default: () => [],
        },
        form: {
            type: Object,
            default: () => {}
        }
    },
    data() {
        return {
            datepickerOne: false,
            datepickerTwo: false,
        };
    },
    methods: {
        async emitValue(event, name) {
            this.$emit('formEvent', { event, name });
        }
    },
}
</script>

<style>

</style>
