<template>
    <v-app id="root">
        <v-content>
            <v-container
            class="fill-height"
            fluid
            >
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col
                    cols="12"
                    sm="8"
                    md="4"
                    >
                        <v-card>
                            <v-toolbar
                                color="primary"
                                dark
                            >
                                <v-toolbar-title>Customer operations history</v-toolbar-title>
                                <v-progress-linear
                                    :active="fetching"
                                    :indeterminate="fetching"
                                    absolute
                                    bottom
                                    color="yellow darken-2"
                                ></v-progress-linear>
                            </v-toolbar>
                            <root-form
                                @formEvent="handleEmittedValue"
                                :customers="customers"
                                :form="form"></root-form>

                            <div class="button-wrapper">
                                <v-btn
                                    @click="fetchOperationsById"
                                    color="primary"
                                    :disabled="formNotFilled">Show history</v-btn>
                                <v-btn
                                    @click="fetchReportById"
                                    :disabled="formNotFilled"
                                    color="primary">Download report</v-btn>
                            </div>
                            <root-table
                                v-if="operations.length && Object.keys(totals).length"
                                :operations="operations"
                                :totals="totals"></root-table>
                        </v-card>

                    </v-col>
                </v-row>
                <v-snackbar
                    v-model="errorSnackbar"
                >
                    Something went wrong
                    <v-btn
                        color="yellow"
                        text
                        @click="errorSnackbar = false"
                    >
                        Close
                    </v-btn>
                    </v-snackbar>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import axios from 'axios';
    import { API_BASE_URL } from '../config';
    import RootForm from './RootForm';
    import RootTable from './RootTable';

    export default {
        name: 'Root',
        components: {
            RootForm,
            RootTable
        },
        data() {
            return {
                form: {
                    selectedCustomer: null,
                    from_date: '',
                    to_date: '',
                },
                customers: [],
                operations: [],
                totals: {},
                fetching: false,
                errorSnackbar: false
            };
        },
        computed: {
            formNotFilled() {
                return !this.form.selectedCustomer || !this.form.from_date || !this.form.to_date;
            }
        },
        created() {
            this.fetchCustomers();
        },
        methods: {
            fetchCustomers() {
                this.fetching = true;
                axios.get(`${API_BASE_URL}/customers`)
                    .then(({ data }) => this.customers = data.data)
                    .catch((err) => this.showError(err))
                    .finally(() => this.fetching = false);
            },
            fetchOperationsById() {
                this.fetching = true;
                axios.get(`${API_BASE_URL}/customers/${this.form.selectedCustomer}/operations`, {
                    params: {
                        from_date: this.form.from_date,
                        to_date: this.form.to_date
                    }})
                    .then(({ data }) => {
                        this.operations = data.data;
                        this.totals = data.totals;
                    })
                    .catch((err) => this.showError(err))
                    .finally(() => this.fetching = false);
            },
            fetchReportById() {
                this.fetching = true;
                axios.get(`${API_BASE_URL}/customers/${this.form.selectedCustomer}/report`, {
                    params: {
                        from_date: this.form.from_date,
                        to_date: this.form.to_date
                    }})
                    .then(({ data }) => {
                        this.downloadCsv(data);
                    })
                    .catch((err) => this.showError(err))
                    .finally(() => this.fetching = false);
            },
            downloadCsv(data) {
                const blob = new Blob([data]);
                const a = window.document.createElement('a');
                a.href = window.URL.createObjectURL(blob, {
                    type: "text/plain"
                });
                a.download = "filename.csv";
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            },
            handleEmittedValue(value) {
                const { event, name } = value;
                this.form[name] = event;
            },
            showError(err) {
                this.errorSnackbar = true;
                console.log(err);
            }
        }
    }
</script>

<style>
    .button-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 25px;
    }
</style>
